* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

#root {
  height: 100vh;
  background-color: black;
  font-size: 1.6rem;
  font-family: sans-serif;
  display: grid;
  grid-template-areas: "menu main .";
  grid-template-columns: 230px 600px 1fr;
  grid-template-rows: 100vh;
}

header {
  grid-area: menu;
}

main {
  grid-area: main;
}